html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('photos/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    /* Add this line */
    width: 100%;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #d6d6d6;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    /* Adjust as needed */
}

.linkedin-logo img, .email-logo img {
    width: 35%;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Adjust as needed */
    width: 100%;
}

footer {
    width: 100%;
    background-color: #d6d6d6;
    text-align: center;
    margin-top: auto;
}

.paragraph {
    text-align: center;
}


.email-icon:hover img {
    content: url("/logos/email_icon_02.jpg");
}



@media screen and (max-width: 1000px) {

    .linkedin-logo, .email-logo {
        width: 100%;
        text-align: center;
    }

    .icon-container {
        gap: 0%;
    }

}

@media screen and (min-width: 1000px) {

    .linkedin-logo{
        width: 49%;
        text-align: right;
    }
    
    .email-logo {
        width: 49%;
        text-align: left;
    }

    .icon-container {
        gap: 1%;
    }

}